@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/strange-piece');
@import url('https://fonts.cdnfonts.com/css/strasua');

* {
    margin: 0;
    padding: 0;
    color: #ffff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
}

section {
    height: 100vh;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.bottom-bar {
    position: fixed;
    bottom: 1rem;
    max-width: 240px;
    background-color: #fff;
    border-radius: 15px;
    animation: down 2s;
}

.bottom-icon {
    font-size: 25px;
    padding: .4em;
    margin: 5px;
    margin-top: 0;
    transition: 400ms ease-in-out;
    color: #000;
    border-radius: 100%;
    background-color: #fff;
}

.bottom-icon:hover {
    transform: translateY(-10px);
}

.tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0d0d0e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -63px;
    transform: scale(0);
    transition: ease-in-out 200ms
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transform: scale(1)
}

.active {
    background-color: #eee;
    transform: translateY(-5px);
    box-shadow: 0px 0px 16px hsla(232, 19%, 47%, 0.4);
}

/* Sections */

.home-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 1.75rem;
}

.btn-container {
    margin-top: 30px;
}

.buy {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #eee;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: .4s;
}

.buy:hover {
    color: #000;
    background-color: #eee;
    box-shadow: 0px 0px 16px #eee;
}

.support {
    cursor: pointer;
    background-color: #eee;
    color: #000;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: .4s;
}

.support:hover {
    color: #eee;
    background-color: #000;
    border: 1px solid #eee;
    box-shadow: 0px 0px 16px #eee;
}

.sparkle {
    background-image: url(https://media.discordapp.net/attachments/987149728800198686/991834200309248070/sparkle.gif);
}

@keyframes down {
    from {
        transform: translate3d(0,-150px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes up {
    from {
        transform: translate3d(0,150px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}