@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/strange-piece');
@import url('https://fonts.cdnfonts.com/css/strasua');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #000;
    color: #fff;
    user-select: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sparkle{
    background-image:url(https://cdn.discordapp.com/attachments/975129514499772516/1043554950350897242/sparkle.gif)
}

.center{
    margin: 0 auto;
    text-align: center;
}
.container{
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 80px;
}

.main-text {
    font-size: 24px;
    font-weight: bold;
}

.list-users {
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 80px;
    font-size: 20px;
}

.here {
    color: grey;
}

.mark{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.mark:hover{
    text-decoration: underline;
}