@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/strange-piece');
@import url('https://fonts.cdnfonts.com/css/strasua');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0d0d0e;
    user-select: none;
    font-family: sans-serif;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);  
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
}

.sparkle{
    background-image:url(https://media.discordapp.net/attachments/987149728800198686/991834200309248070/sparkle.gif)
}

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-title {
    font-size: 28px;
    transition: .4s;
    margin-bottom: 10px;
    animation: down 2s;
}

.home-title:hover {
    transform: scale(1.1);
}

.marquee-center {
    display: flex;
    width: 420px;
    align-items: center;
    position: fixed;
    bottom: 80px;
    animation: up 2s;
}

.marquee {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typed-cursor {
    display: none;
}

.footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    transition: .4s;
}

.footer:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}

/* Profile Section */

.profile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.profile-card {
    background-color: #0d0d0e;
    width: 500px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
}

.profile-img {
    width: 130px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #201f1f38;
    display: block;
}

.username {
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Strange Piece';
}

.badge {
    width: 20px;
    height: 20px;
    margin: 3px;
    cursor: pointer;
}

.badges {
    margin-top: 7.5px;
    width: 120px;
    height: 30px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    margin-top: 7.5px;
    color: #f1f1f1bd;
}

.socials {
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 30px;
}

.social-icon {
    margin: 2.5px;
    transition: .4s;
}

.social-icon:hover {
    transform: scale(1.1);
}

.mark {
    position: fixed;
    text-align: center;
    bottom: 10px;
    width: 100%;
    font-size: 18px;
    transition: .4s;
}

.mark:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}



/* miscellaneous */

.blurpage{
    background: #0d0d0e;
    backdrop-filter:blur(10px);
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Strange Piece';
}

.blurpagerplc{background:0 0;backdrop-filter:none}
.blurpagerplc2{width:10%;height:10%}

#enter {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease-in;
    font-size: 24px;
}

#enter-text {
    animation: down 2s;
}

@keyframes up {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes down {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

